DeviceEnd/node-red-flow.txt
[{"id":"4a082ea2.e56d3","type":"ui_gauge","z":"902cf56f.fff018","name":"Pressure Gauge (pa)","group":"60841af2.d62434","order":1,"width":"","height":"","gtype":"gage","title":"Pressure (pa)","label":"","format":"{{value}}","min":0,"max":"10000","x":825,"y":32,"wires":[]},{"id":"18fa0f0c.81e321","type":"debug","z":"902cf56f.fff018","name":"get http response code","active":true,"console":"false","complete":"statusCode","x":1282,"y":197.5,"wires":[]},{"id":"b5f46a57.6bc588","type":"ui_gauge","z":"902cf56f.fff018","name":"Humidity Gauge","group":"60841af2.d62434","order":1,"width":"","height":"","gtype":"wave","title":"Humidity","label":"","format":"{{value}}","min":0,"max":"100","x":815,"y":128,"wires":[]},{"id":"4ff3ff53.c451e","type":"ui_gauge","z":"902cf56f.fff018","name":"Temp Gauge (C)","group":"60841af2.d62434","order":1,"width":"","height":"","gtype":"gage","title":"Temp C","label":"","format":"{{value}}","min":0,"max":"100","x":809,"y":79,"wires":[]},{"id":"48c04d8d.41ffd4","type":"function","z":"902cf56f.fff018","name":"config payload","func":"var sensorData = msg.payload;\nmsg.triggerAPI = false;\nvar isSendToCloud = flow.get('isSendToCloud');\nif(flow.get('deviceMAC')!== null)\n{\n    sensorData.DeviceID = flow.get('deviceMAC');\n    sensorData.Lat = flow.get('deviceLat');\n    sensorData.Lng = flow.get('deviceLng');\n    msg.payload = sensorData;\n    msg.headers = {\"Content-Type\": \"application/json\",\"X-ApiKey\":\"1oTDem012345\"};\n    msg.triggerAPI = true;\n    msg.triggerAPI = (msg.triggerAPI && isSendToCloud);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":206,"wires":[["a5a6af33.6eb35"]]},{"id":"bdacc67e.4ee758","type":"http request","z":"902cf56f.fff018","name":"upload sensor data","method":"POST","ret":"txt","url":"[your own api end point]","tls":"","x":998,"y":241,"wires":[["18fa0f0c.81e321","268e9a98.a8cb56"]]},{"id":"9dace09b.3c441","type":"ui_switch","z":"902cf56f.fff018","group":"60841af2.d62434","order":"2","width":"","height":"","name":"Send To Cloud backend","label":"Sync To Cloud","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":162,"y":544,"wires":[["33fa6b2d.2a8f94"]]},{"id":"21875975.504926","type":"debug","z":"902cf56f.fff018","name":"","active":false,"console":"false","complete":"payload","x":1176,"y":109,"wires":[]},{"id":"33fa6b2d.2a8f94","type":"function","z":"902cf56f.fff018","name":"Set Flow.isSendToCloud","func":"var sendToCloud = msg.payload;\nif(sendToCloud === 'true')\n{\n    flow.set('isSendToCloud',true);\n}\nelse\n{\n    flow.set('isSendToCloud',false);\n}\nmsg.payload = flow.get('isSendToCloud');\nreturn msg;","outputs":1,"noerr":0,"x":476,"y":544,"wires":[["a99b3cfa.fe062"]]},{"id":"a5a6af33.6eb35","type":"switch","z":"902cf56f.fff018","name":"Trigger API Condition flow","property":"triggerAPI","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":621,"y":209,"wires":[["21875975.504926","bdacc67e.4ee758"]]},{"id":"8120dbd8.7e3f38","type":"exec","z":"902cf56f.fff018","command":"getmac-node","addpay":true,"append":"deviceMAC","useSpawn":"","timer":"","name":"get current mac address","x":193,"y":439,"wires":[["974c0bef.43fa18"],[],[]]},{"id":"eed0990.a8f1468","type":"inject","z":"902cf56f.fff018","name":"Setup Device MAC","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":131,"y":344,"wires":[["8120dbd8.7e3f38"]]},{"id":"974c0bef.43fa18","type":"function","z":"902cf56f.fff018","name":"clean up and setup flow variable of device MAC","func":"var str = msg.payload;\nvar mac = str.split('null')[1].replace(' ','');\nmac = mac.toUpperCase().trim();\nflow.set('deviceMAC',mac);\nmsg.payload= mac;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":265,"wires":[["bd2a8fd.4f6437","5fd4b9f.533e648"]]},{"id":"bd2a8fd.4f6437","type":"function","z":"902cf56f.fff018","name":"build google api request body","func":"var mac = msg.payload;\n\nvar googleApiEndpoint = 'https://www.googleapis.com/geolocation/v1/geolocate?key=[YOUR GOOGLE API KEY]';\nvar requestBody = \n{\n    \"macAddress\": mac\n    ,\"age\" :0\n}\nmsg.url = googleApiEndpoint;\nmsg.payload = requestBody;\nreturn msg;","outputs":1,"noerr":0,"x":676,"y":322,"wires":[["5cfa9c4e.314014"]]},{"id":"5cfa9c4e.314014","type":"http request","z":"902cf56f.fff018","name":"call google api","method":"POST","ret":"txt","url":"","tls":"","x":549,"y":382,"wires":[["2ea32fab.62fb4"]]},{"id":"2ea32fab.62fb4","type":"function","z":"902cf56f.fff018","name":"Push Geocode to flow variable","func":"var result = JSON.parse(msg.payload);\nvar glocation = result.location;\nif(msg.statusCode == 200)\n{\n    //get google api result and push to flow variable\n    \n    \n    var lat = glocation.lat;\n    var lng = glocation.lng;\n    \n    flow.set('deviceLat',lat);\n    flow.set('deviceLng',lng);\n    flow.set('location',glocation);\n}\nmsg.payload = flow.get('location');\n\nreturn msg;","outputs":1,"noerr":0,"x":845,"y":381,"wires":[["7ad058b7.fa1048"]]},{"id":"5fd4b9f.533e648","type":"ui_text","z":"902cf56f.fff018","group":"60841af2.d62434","order":"2","width":"","height":"","name":"Device MAC","label":"Device MAC","format":"{{msg.payload}}","layout":"col-center","x":391,"y":314.5,"wires":[]},{"id":"7ad058b7.fa1048","type":"ui_text","z":"902cf56f.fff018","group":"60841af2.d62434","order":0,"width":0,"height":0,"name":"","label":"Geo Location","format":"{{msg.payload}}","layout":"col-center","x":963,"y":322,"wires":[]},{"id":"268e9a98.a8cb56","type":"function","z":"902cf56f.fff018","name":"get http StatusCode","func":"msg.payload = msg.statusCode;\nreturn msg;","outputs":1,"noerr":0,"x":1233,"y":313,"wires":[[]]},{"id":"d1be753d.d2f658","type":"function","z":"902cf56f.fff018","name":"Ready to Sync","func":"msg.payload = 'Ready to Sync';\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":481,"wires":[[]]},{"id":"f913e696.34da98","type":"function","z":"902cf56f.fff018","name":"Off Line","func":"msg.payload = 'Off Line';\n\nreturn msg;","outputs":1,"noerr":0,"x":859,"y":550,"wires":[[]]},{"id":"a99b3cfa.fe062","type":"switch","z":"902cf56f.fff018","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":675,"y":555,"wires":[["d1be753d.d2f658"],["f913e696.34da98"]]},{"id":"87b71d83.a24d6","type":"inject","z":"902cf56f.fff018","name":"Gen random every 1 sec","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":134,"y":148,"wires":[["1aa6f609.33696a","a25675f6.436778","edaa4af9.97e168","48c04d8d.41ffd4"]]},{"id":"a25675f6.436778","type":"function","z":"902cf56f.fff018","name":"Random Pressure value","func":"function getRandomIntInclusive(min, max) {\n  min = Math.ceil(min);\n  max = Math.floor(max);\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nmsg.payload = getRandomIntInclusive(0,1000);\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":34,"wires":[["4a082ea2.e56d3"]]},{"id":"1aa6f609.33696a","type":"function","z":"902cf56f.fff018","name":"Random Tempetature value","func":"function getRandomIntInclusive(min, max) {\n  min = Math.ceil(min);\n  max = Math.floor(max);\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nmsg.payload = getRandomIntInclusive(0,100);\nreturn msg;","outputs":1,"noerr":0,"x":361,"y":82,"wires":[["4ff3ff53.c451e"]]},{"id":"edaa4af9.97e168","type":"function","z":"902cf56f.fff018","name":"Random Humidity value","func":"function getRandomIntInclusive(min, max) {\n  min = Math.ceil(min);\n  max = Math.floor(max);\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nmsg.payload = getRandomIntInclusive(0,100);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":141,"wires":[["b5f46a57.6bc588"]]},{"id":"60841af2.d62434","type":"ui_group","z":"902cf56f.fff018","name":"IoT Demo","tab":"946ab838.420ff8","disp":true,"width":"6"},{"id":"946ab838.420ff8","type":"ui_tab","z":"902cf56f.fff018","name":"IoT Demo Home","icon":"dashboard"}]